@import '../../scss/variables.scss';

.left_side_menu {
  display: none;
  // display: grid;
  grid-template-columns: 312px 1fr;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0000004d;
  animation: fade;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  .menu {
    display: grid;
    grid-template-rows: 70px 1fr auto;
    background-color: #ffffff;
    animation-name: side;
    animation-duration: .5s;
    animation-timing-function: ease-out;
    &--header {
      padding: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $app-color-gray;
      &-title {
        font-size: 18px
      }
      &-close {
        width: 24px;
        height: 24px;
        border-radius: $app-base-border-radius;
        background-image: url('./icons/cross.svg');
        background-position: center;
        background-repeat: no-repeat;
        transition: $app-base-animation;
        &:hover {
          background-color: $app-color-gray;
        }
      }
    }
    &--body {
      padding: 24px;
    }
    &--footer {
      padding: 24px;
      display: flex;
      justify-content: flex-end;
      gap: 12px;
      &-add, &-save {
        padding: 10px 14px;
        height: 38px;
        border-radius: $app-base-border-radius;
        transition: $app-base-animation;
        font-weight: 700;
      }
    }
  }
}

.contact_group_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  &--input {
    width: 214px;
    height: 38px;
    padding: 11px 12px;
    border-radius: $app-base-border-radius;
    font-size: 16px;
    font-family: $app-font-family;
    background-color: $app-color-gray;
  }
  &--delete {
    width: 38px;
    height: 38px;
    border: 1px solid $app-color-gray;
    border-radius: $app-base-border-radius;
    background-image: url('./icons/trash.svg');
    background-position: center;
    background-repeat: no-repeat;
    transition: $app-base-animation;
    &:hover {
      background-color: #ea3d2f;
      border-color: #ea3d2f;
    }
  }
}

@keyframes side {
  0% {transform: translateX(-312px);}
  100% {transform: translateX(0);}
}

@keyframes fade {
  0% {background-color: #00000000;}
  100% {background-color: #0000004d;}
}