@import './variables.scss';

.button {
  font-size: $app-font-size-default;
  border-radius: $app-base-border-radius;
  padding: $app-base-margin-padding;
  background-color: $app-base-color;
  color: #ffffff;
  transition: $app-base-animation;
}

.button.red {
  background-color: #f81155;
  &:hover {
    background-color: #d1003e;
  }
}

.button.blue {
  background-color: $app-base-color;
  &:hover {
    background-color: #0047c6;
  }
}

.button.hidden {
  color: $app-base-color;
  background-color: #00000000;
  &:hover {
    background-color: #005bfe1a;
  }
}