// Font style
$app-font-family: 'Arial';
$app-font-style-italic: italic;
$app-font-style-normal: normal;

// Font size
$app-font-size-large: 3rem;
$app-font-size-medium: 2rem;
$app-font-size-small: 1.2rem;
$app-font-size-default: 1rem;

// Font color
$app-base-color: #005bfe;
$app-color-gray: #0000001a;

// Border radius
$app-base-border-radius: 6px;

// Margin and padding
$app-base-margin-padding: 10px;

// Animation
$app-base-animation: 200ms ease-in-out;
